<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "INVTR" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="row">
      <div class="medium-12 columns">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>  
      </div>
    </div>
    
    <%= yield %>

  </body>
</html>
