<table>
  <thead>
    <tr>
      <th>Invites</th>
      <th>Accepted</th>
      <th>Rejected</th>
      <th>Reports</th>
      <th>Written Reports</th>
      <th>Deactivated</th>
    </tr>
  </thead>
  <tbody>
	  <tr>
	    <td><%= invite_count %></td>
	    <td><%= accepted_count %></td>
	    <td><%= rejected_count %></td>
	    <td><%= report_count %></td>
	    <td><%= written_report_count %></td>
      <td><%= deactivated_count %></td>
	  </tr>
  </tbody>
</table>